/* ************GLOBAL************* */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding-left: unset;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  background: url("./images/bg.jpg") no-repeat;
  background-size: cover;
}

.container > div {
  max-width: 987px;
}

#posts > div {
  margin: 5px;
  padding: 0;
}

article {
height: 350px;
  background: #fff;
  padding: 30px;
}

article > p {
  height: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#socialmedia > div {
  opacity: 0.9;
  height: 60px;
  width: 60px;
  margin: 5px;
  border-bottom: 5px solid grey;
}

#socialmedia > div > svg {
  height: 100%;
  padding: 15px;
  width: 100%;
}

#fbicon {background: #44529C;}
#rssicon {background: #D49000;}
#twittericon {background: #6689CC;}
#youtubeicon {background: #BF2717;}

#navigation > div {
  margin: 5px;
  background: #C1021B;
  width: 100%;
  height: 40px;
  text-align: center;
  border-bottom: 5px solid grey;
}

#navigation > div > a {
  vertical-align: -webkit-baseline-middle;
}
#navigation > div > a > span {
  color: #fff;
}
#navigation > div > a > span::before {
  content: " - ";
}
#navigation > div > a > span::after {
  content: " - ";
}

/* ***CAROUSEL**** */

#carousel {
  height: 30vw;
  min-height: 300px;
  overflow: hidden;
  background: url("./images/top-image.png") no-repeat 35% 25%;
  position: relative;
  border: solid 5px #fff;
}


#carousel > .grid {
  opacity: 0.3;
}

#carousel > .logo {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}


/* ***********Skateboarders******** */
#sk8rs img {
  object-fit: none;
}

.skateboarder {
  padding: 5px;
  position: relative;

}

.skateboarder > img {
  border: solid 5px #fff;
}

.col-md-8 > div > div > img {
  height: 222px;
}

.col-md-4 > img {
  height: 454px;
}

#LanceMountain > img {
  object-position: 100% 0;
}

.skateboarder > p {
  color: #fff;
      font-family: "Bowlbly One SC", sans-serif;
      text-transform: uppercase;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 39%;
      transform: translateX(-50%);
      font-size: 38px;
      text-align: center;
      padding: 5px;
}

/* **********skateboards*********  */

#skateboards {
  background: #fff;
}

#skateboards > div {
  height: 260px;
  width: 62px;
}

#skateboards > div > img {
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100%);
  width: 260px;
  max-width: 260px;
}


/* ************MEDIA QUERY*********** */

@media (max-width: 768px) {
  #sk8rs img {
    object-fit: cover;
  }
  #skateboards > div {
    height: 62px;
    width: 100%;
    text-align: center;
  }
  #skateboards > div > img {
    transform: rotate(0);
  }

}
